<div class="container">
    <img src="~/Images/faleconosco1.jpg" alt="Contact us" />
    <div class="jumbotron">
        <h3>We want to hear what you have to say</h3>
        <p>
        If you have any questions or suggestions, please contact us.
        </p>
        <p>
            <span>
                <img src="~/Images/Envelope-icon24.png" />
                <h5><email adress="gabriel.brassaroto@gmail.com" content="Send a Email"></email></h5>
                </br>
            </span>
            <span>
                <img src="~/Images/phone-app-icon.png" />
            </span>
            <h5>(43)98476 2240</h5>
            </br>
            <span>
                <img src="~/Images/Home-iconred.png" />
            </span>
            <h5>Av Santos Dumont - Parana </h5>
        </p>
    </div>
</div>