<br/>
<img src="~/Images/adminarea.jpg" alt="Managed Area" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>This is the admin area.</h2>
        </p>
    </div>
    <a  asp-area="" asp-controller="Home" asp-action="Index">Back a Home Page</a>
</div>